* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

.main {
  height: 100%;
  width: 100%;
  padding-top: 0.1px;
  position: relative;
}


.nav {
  height: 12vh;
  width: 100%;
  /* background-color: yellowgreen; */
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: space-between;
}
#logo {
  font-family: "Monument";
}
.nav h1 {
  width: 28%;
  height: 100%;
  font-size: 2.4vw;
  font-weight: 600;
  letter-spacing: -1px;
  margin-left: 62px;
  display: flex;
  align-items: center;
  position: relative;
  /* background-color: gold; */
  justify-content: center;
}
.nav h1:after{
  content: '©';
  font-family: Poppins;
  font-size: 1.2vw;
  position: absolute;
  top: 20%;
  right: 21.5%;
}
.nav h1:before{
  content: 'model management';
  font-family: Poppins;
  font-size: 0.7vw;
  position: absolute;
  bottom: 19%;
  right: 27.5%;
}
.nav h2 {
  width: 18%;
  height: 100%;
  font-size: 1.1vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  /* background-color: gold; */
  justify-content: center;
  border-right: 2px solid black;
}
.nav h2:nth-child(2) {
  border-left: 2px solid black;
}
.nav h2:nth-child(4) {
  width: 22%;
}
.nav h2:nth-child(5) {
  justify-content: center;
  border-right: 0px solid black;
  width: 17%;
}
.nav h2 i {
  font-size: 1.2vw;
}
.nav h3{
  display: none;
}
.nav h3 i{
  font-size: 4vw;
}


.center {
  position: relative;
  height: 90%;
  width: 100%;
  padding: 3.5vw 10vw;
  /* background-color: indianred; */
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
}
.content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#overlay {
  height: 52%;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  padding: 3vw;
}
#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5vw;
  height: 60%;
}
#over1 h1 {
  font-family: monument;
  font-size: 3vw;
}
#over1 h2 {
  padding: 2vw 2.1vw;
  font-size: 1vw;
  border-radius: 50%;
  border: 2px solid white;
}
#over2 {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
  padding: 1.5vw 0;
}
#over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}
#over2 img {
  height: 4vw;
  transition: all ease 0.3s;
}


.scroll {
  height: 25vh;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: rebeccapurple; */
}
.scroll::-webkit-scrollbar {
  display: none;
}
#container {
  height: 100%;
  width: 184%;
  padding: 1vw;
  display: inline-block;
  animation: ghumar 20s linear infinite;
}
.scroll img {
  height: 100%;
  width: 5.5%;
  margin: 1vw 1vw;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
}
@keyframes ghumar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.alphabets {
  margin: 4vw 0;
  /* background: rebeccapurple; */
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.35vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
}
.alphabets h5 {
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 4px;
  border-bottom: 2px solid black;
}
.alphabets h6 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  padding: 0.6vw 0.8vw;
  border-radius: 50%;
  transition: all ease 0.2s;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}
.alphabets h6:hover {
  border: 1px solid rgb(0, 0, 0);
}


.page2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4%;
  justify-content: space-between;
  padding: 0 10vw 3vw 10vw;
}
#page2-part-1 {
  height: 100%;
  width: 55%;
  position: relative;
}
#page2-part-1 img {
  height: 93%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#page2-part-1 h1 {
  font-size: 2.2vw;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: monument;
}
#page2-part-2 {
  height: 93%;
  width: 45%;
  margin-bottom: 4.2%;
}
#page2-part-2 img {
  width: 100%;
  height: 77%;
  padding-bottom: 40px;
  object-fit: cover;
  object-position: top;
}
.pg2-text-part2 {
  height: 24.5%;
  display: flex;
  /* gap: 25%; */
  justify-content: space-between;
}
.pg2-text-part2 h3 {
  width: 90%;
  height: 100%;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.65vw;
  font-family: Arial, Helvetica, sans-serif;
}
.pg2-text-part2 p {
  margin-top: 7px;
  width: 80%;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}



.page3 {
  height: 100vh;
  width: 100%;
  padding: 3vw 10vw;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
}
.page3-part1 {
  height: 100%;
  width: 42%;
  display: flex;
  flex-direction: column;
}
.page3-part1-img {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3-part1-img img {
  height: 150px;
  padding: 30px;
  width: 150px;
  border-radius: 50%;
  transition: all ease 0.5s;
  border: 2px solid black;
}
.page3-part1-img img:hover {
  height: 130px;
  width: 130px;
}
.page3-part1-text {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: end;
}
.page3-part1-text h5 {
  width: 95%;
  font-size: 1.55vw;
}
.page3-part2 {
  height: 100%;
  width: 64%;
}
.page3-part2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.page4 {
  height: 100vh;
  width: 100%;
  padding: 3vw 10vw;
  padding-bottom: 7vw;
}
.page4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.updates {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw 10vw;
}
.updates > h1 {
  text-align: center;
  width: 100%;
  font-family: monument;
  text-transform: uppercase;
  font-size: 2.75vw;
  margin-bottom: 12vh;
}
.up-elem {
  height: 16.5vh;
  width: 100%;
  display: flex;
  padding: 0 2vw;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  transition: all ease 0.7s;
}
.up-elem:hover {
  background-color: #e9e9e9;
}
.up-elem:hover img {
  opacity: 1;
  margin-right: 150px;
}
.up-elem h4 {
  text-transform: uppercase;
  font-size: 1.1vw;
  width: 10%;
  font-weight: 500;
}
.up-elem img {
  height: 140px;
  width: 140px;
  margin-right: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  opacity: 0;
  transition: all ease 0.7s;
}
.elem-part2 {
  width: 50%;
}
.elem-part2 h1 {
  font-weight: 500;
  font-size: 2.3vw;
}
.elem-part2 h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8vw;
}
.up-elem:nth-last-child(1) {
  border-bottom: 2px solid black;
}


.page5 {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 4%;
  padding: 3vw 10vw;
  padding-top: 4vw;
}
.page5-part1 {
  height: 100%;
  width: 50%;
  background-image: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bW9kZWxzfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
}
.page5-part2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.pg5-p2-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* padding-top: 0.5vw; */
  padding-bottom: 3vw;
  justify-content: space-between;
}
.pg5-p2-text h1 {
  font-family: monument;
  text-transform: uppercase;
  font-size: 2.7vw;
}
.pg5-p2-text h4 {
  width: 65%;
  font-size: 1.6vw;
}
.pg5-p2-text p {
  font-size: 1vw;
}
.pg5-p2-img {
  position: relative;
  width: 100%;
  height: 50%;
  gap: 3%;
  display: flex;
}
.pg5-p2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#pg5-p2-img-1 {
  height: 100%;
  width: 60%;
}
#pg5-p2-img-2 {
  height: 100%;
  width: 40%;
}


.page6 {
  height: 100vh;
  width: 100%;
  padding: 3vw 10vw;
}
.page6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.page7 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4%;
  justify-content: space-between;
  padding: 3vw 10vw;
}
#page7-part-1 {
  height: 100%;
  width: 55%;
  position: relative;
}
#page7-part-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#page7-part-2 {
  height: 100%;
  width: 45%;
}
#page7-part-2 img {
  width: 100%;
  height: 77%;
  padding-bottom: 40px;
  object-fit: cover;
  object-position: top;
}
.pg7-text-part2 {
  height: 24.5%;
  display: flex;
  /* gap: 25%; */
  justify-content: space-between;
}
.pg7-text-part2 h3 {
  width: 90%;
  height: 100%;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.35vw;
  font-family: Poppins;
}
.pg7-text-part2 p {
  /* margin-top: 7px; */
  width: 80%;
  height: 100%;
  line-height: 1.25;
  font-size: 0.9vw;
  font-family: Poppins;
}


.page8 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 4vw 0;
  padding-bottom: 2vw;
  align-items: center;
  justify-content: space-between;
}
.text-scroll {
  width: 100%;
  padding: 0.9vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
.text-scroll h1 {
  font-size: 3vw;
  height: 100%;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: monument;
  text-transform: uppercase;
  margin-right: 26px;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 2px black;
  animation: chakkar 5s linear infinite;
}
@keyframes chakkar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 26px - 4px));
  }
}
.blog-part {
  width: 100%;
  height: 100%;
  padding: 4vw 10vw;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.blog-part-1 {
  width: 20%;
  height: 100%;
}
.blog-part-1 h1 {
  font-size: 3vw;
  font-family: monument;
}
.blog-part-2 {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-p2-text {
  display: flex;
}
.blog-part-2 h4 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.35vw;
}
.blog-part-2 h5 {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 1.25vw;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.blog-p2-img {
  width: 100%;
}
.blog-p2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-part-3 {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-p3-text {
  display: flex;
}
.blog-part-3 h4 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.35vw;
}
.blog-part-3 h5 {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 1.25vw;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid black;
}
.blog-p3-img {
  width: 100%;
}
.blog-p3-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.footer{
  height: 50vh;
  width: 100%;
  margin: 13vw 0 2vw 0;
  padding-bottom: 2vw;
  /* background-color: salmon; */
}
.footer-board{
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.footer-board h1{
  width: 30%;
  height: 20%;
  font-size: 2.5vw;
  font-family: monument;
  position: relative;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 1vw 0 0 7vw;
  display: flex;
  justify-content: center;
}
.footer-board h1:after{
  content: '©';
  font-family: Poppins;
  font-size: 1.2vw;
  position: absolute;
  top: 20%;
  right: 9.5%;
}
.footer-board h1:before{
  content: 'model management';
  font-family: Poppins;
  font-size: 0.7vw;
  position: absolute;
  bottom: -2%;
  right: 16%;
}
.footer-board>h5{
  width: 18%;
  font-size: 1.2vw;
  display: flex;
  padding: 2vw;
  border-right: 2px solid black;
  justify-content: center;
  font-weight: 500;
  /* background-color: forestgreen; */
}
.footer-board .contact{
  width: 43%;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
}
.contact h5{
  font-size: 1.2vw;
  width: 100%;
  display: flex;
  font-weight: 500;
  justify-content: start;
  height: 29%;
  padding: 2vw 4vw 2vw 5vw;
  border-bottom: 2px solid black;
}
.icons{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 1vw 4vw 0 5vw;
}
.icons i{
  transition: all ease .6s;
  font-size: 1.25vw;
}
.icons .ri-instagram-line:hover{
  transform: scale(1.3) rotate(360deg);
  color: rgb(174, 2, 154);
}
.icons .ri-twitter-x-line:hover{
  transform: scale(1.3) rotate(360deg);
  /* color: rgb(174, 2, 154); */
}
.icons .ri-facebook-circle-fill:hover{
  transform: scale(1.3) rotate(360deg);
  color: #27B0F3;
}
.icons .ri-github-fill:hover{
  transform: scale(1.3) rotate(360deg);
  color: #7301ff;
}
.icons .ri-linkedin-box-fill:hover{
  transform: scale(1.3) rotate(360deg);
  color: #1469C7;
}
.copyright{
  width: 100%;
  height: 40%;
  padding: 0 4vw 0 5vw;
}
.copyright h6{
  width: 75%;
  font-weight: 500;
  font-family: Poppins;
  font-size: 0.7vw;
}


@media (max-width: 600px) {
  .nav {
    padding: 0 5vw;
    height: 9vh;
    margin-top: 10px;
  }
  .nav h1 {
    width: 28%;
    height: 100%;
    font-size: 6vw;
    margin-left: 0;
    justify-content: start;
    letter-spacing: -1px;
  }
  .nav h1:after{
    font-size: 2.5vw;
    top: 22%;
    right: -30%;
  }
  .nav h1:before{
    font-size: 1.7vw;
    letter-spacing: normal;
    bottom: 20%;
    right: -23%;
  }
  .nav h2 {
    display: none;
  }
  .nav h3{
    display: block;
  }


  .center {
    height: 35vh;
    padding: 3.5vw 5vw;
  }
  #overlay {
    padding: 1vw 3vw;
  }
  #over1 {
    margin-bottom: 0;
    height: 60%;
  }
  #over1 h1 {
    font-size: 4vw;
  }
  #over1 h2 {
    font-size: 2vw;
  }
  #over2 {
    height: 40%;
    padding: 0;
  }
  #over2 h4 {
    font-size: 3vw;
    font-weight: 500;
  }
  #over2 img {
    height: 7vw;
  }  


  .scroll {
    height: 15vh;
  }
  #container {
    width: 400%;
    padding: 1.5vw 0;
    animation: ghumar 15s linear infinite;
  }
  .scroll img {
    width: 5.85%;
  }


  .alphabets {
    margin: 4vw 0;
    overflow-x: auto;
    height: 7vh;
    gap: 0.40vw;
    justify-content: start;
  }
  .alphabets::-webkit-scrollbar{
    display: none;
  }
  .alphabets h5 {
    font-size: 3vw;
    margin: 10px;
  }
  .alphabets h6 {
    font-size: 2.5vw;
    letter-spacing: 4px;
    padding: 0.6vw 0.5vw;
  }


  .page2 {
    height: 50vh;
    gap: 3%;
    padding: 0 5vw 3vw 5vw;
  }
  #page2-part-1 h1 {
    font-size: 3.5vw;
    margin-top: 5px;
  }
  #page2-part-2 {
    margin-bottom: 6.25%;
  }
  #page2-part-2 img {
    height: 71%;
    padding-bottom: 0;
    margin-bottom: 1vw;
  }
  .pg2-text-part2 {
    height: 20.5%;
  }
  .pg2-text-part2 h3 {
    width: 100%;
    font-weight: 600;
    line-height: normal;
    font-size: 3.65vw;
  }
  .pg2-text-part2 p {
    display: none;
  }


  .page3 {
    height: 50vh;
    padding: 3vw 5vw;
    gap: 2%;
  }
  .page3-part1-img img {
    height: 50px;
    padding: 10px;
    width: 50px;
  }
  .page3-part1-img img:hover {
    height: 60px;
    padding: 15px;
    width: 60px;
  }
  .page3-part1-text h5 {
    width: 95%;
    font-size: 3.4vw;
  }


  .page4 {
    height: 50vh;
    padding: 3vw 5vw;
    padding-bottom: 7vw;
  }


  .updates {
    height: 50vh;
    padding: 3vw 5vw;
  }
  .updates > h1 {
    font-size: 3.5vw;
    margin-bottom: 2vh;
  }
  .up-elem {
    height: 10vh;
    padding: 0 2vw;
  }
  .up-elem:hover img {
    margin-right: 0;
  }
  .up-elem h4 {
    font-size: 2.7vw;
    width: 15%;
  }
  .up-elem img {
    height: 55px;
    width: 55px;
    margin-right: 60px;
    opacity: 0;
  }
  .elem-part2 {
    width: 45%;
  }
  .elem-part2 h1 {
    font-size: 4vw;
  }
  .elem-part2 h5 {
    font-size: 2vw;
  }


  .page5 {
    height: 50vh;
    gap: 2%;
    padding: 3vw 5vw;
  }
  .pg5-p2-text {
    padding-bottom: 5vw;
    padding-top: 2vw;
  }
  .pg5-p2-text h1 {
    font-size: 3.7vw;
  }
  .pg5-p2-text h4 {
    width: 90%;
    font-size: 2.6vw;
  }
  .pg5-p2-text p {
    font-family: Poppins;
    font-size: 1.5vw;
  }
  .pg5-p2-img {
    gap: 2%;
  }


  .page6 {
    height: 50vh;
    padding: 3vw 5vw;
  }


  .page7 {
    height: 50vh;
    gap: 3%;
    padding: 3vw 5vw;
  }
  #page7-part-2 img {
    height: 71%;
    padding-bottom: 20px;
  }
  .pg7-text-part2 h3 {
    width: 80%;
    font-weight: 600;
    line-height: 1.2;
    font-size: 3.3vw;
  }
  .pg7-text-part2 p {
    display: none;
  }


  .page8 {
    height: 44vh;
    gap: 2vw;
    padding: 4vw 0;
    padding-bottom: 6vh;
  }
  .text-scroll {
    padding: 2vw;
    display: flex;
    align-items: center;
  }
  .text-scroll h1 {
    font-size: 5vw;
    margin-right: 16px;
    -webkit-text-stroke: 1px black;
  }
  @keyframes chakkar {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 16px));
    }
  }
  .blog-part {
    padding: 4vw 5vw;
  }
  .blog-part-1 h1 {
    font-size: 4vw;
  }
  .blog-part-2 {
    width: 37%;
  }
  .blog-part-2 h4 {
    margin-top: 6px;
    line-height: 1.2;
    font-weight: 600;
    font-size: 2vw;
  }
  .blog-part-2 h5 {
    width: 20px;
    height: 20px;
    font-size: 1.8vw;
    border: 1px solid black;
  }
  .blog-part-3 {
    width: 37%;
  }
  .blog-part-3 h4 {
    margin-top: 6px;
    line-height: 1.2;
    font-weight: 600;
    font-size: 2vw;
  }
  .blog-part-3 h5 {
    width: 20px;
    height: 20px;
    font-size: 1.8vw;
    border: 1px solid black;
  }


  .footer{
    height: 20vh;
    margin: 5vw 0 2vw 0;
  }
  .footer-board{
    width: 100%;
    height: 95%;
  }
  .footer-board h1{
    font-size: 5.5vw;
    padding: 1vw 0 0 8vw;
  }
  .footer-board h1:after{
    font-size: 2vw;
    top: 19%;
    right: -17%;
  }
  .footer-board h1:before{
    font-size: 1.7vw;
    letter-spacing: normal;
    bottom: -37%;
    right: -16%;
  }
  .footer-board>h5{
    display: none;
  }
  .footer-board .contact{
    width: 50%;
    border-left: 2px solid black;
  }
  .contact h5{
    font-size: 2.4vw;
    align-items: center;
    font-weight: 600;
    height: 30%;
  }
  .icons{
    height: 15%;
    gap: 5%;
    justify-content: start;
  }
  .icons i{
    font-size: 6vw;
  }
  .copyright h6{
    width: 100%;
    font-size: 1.8vw;
  }
}